.form-area {
    width: 100%;
    display: flex;
    jyustify-content: center;
    align-items: center;
    flex-direction: column;
    .form-title {
        margin-top: 2rem;
    }
    .field {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        .field-label {
           font-size: .8rem;
           margin-bottom: .5rem;
           text-align: left;
        }
        .field-input {
            width: 400px;
            height: 2rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: .5rem;
            font-size: 1rem;
        }
        .field-btn {
            width: 400px;
            height: 3rem;
            display: inline-block;
            border-radius: 5px;
            border: none;
            font-size: 1.2rem;
            padding: .5rem;
            background-color: #4fc08d;
            color: #fff;
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
                background: #379e6f;
                transition: .5s;
            }
        }
        .signup-btn {
            width: 400px;
            height: 3rem;
            display: inline-block;
            border-radius: 5px;
            border: none;
            font-size: 1.2rem;
            padding: .5rem;
            background-color: #4fc08d;
            color: #fff;
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-top: .5rem;
            &:hover {
                background: #379e6f;
                transition: .5s;
            }
        }
        .reset-btn {
            width: 400px;
            height: 3rem;
            display: inline-block;
            border-radius: 5px;
            border: none;
            font-size: 1.2rem;
            padding: .5rem;
            background-color: #4fc08d;
            color: #fff;
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-top: 2rem;
            &:hover {
                background: #379e6f;
                transition: .5s;
            }
        }
    }
    .field-remember {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        jyustify-content: center;
        .remember-check {
            margin-right: 1rem;
        }
    }
}

.field-text {
    margin-top: 1rem;
    a {
        color: #42b983;
        margin-bottom: .5rem;
        text-decoration: none;
    }
}