body {
    padding: 0;
    margin: 0;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.main-contents {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

a {
    color: #555;
    text-decoration: none;
}