<header>
    <div class="header-area">
        <div class="header-logo">
            <%= image_pack_tag 'media/images/logo.png' %>
        </div>
        <div class="header-list">
            <ul class="header-right">
                <li>使い方</li>
                <li>検索する</li>
                <li>お問い合わせ</li>
            </ul>
        </div>
    </div>
</header>